html{
  margin: 0px;
  background-color: oldlace;
}
nav{
    display:flex;
    justify-content:space-around;
    background-color:white;
    border: black solid 3px;
    padding: 20px;
    border-radius:15px;
    background-color:lightgray;
  }
  
  nav a {
  font-size: 25px;
    color: blue;
  cursor:pointer;
   z-index: 1;
}
.container{
  display: flex;
  justify-content:space-around;
}

header h1{
  font-family: 'Roboto',serif;
  font-style: italic;
  background-image: url(calcio2.jpg);
  height: 620px;
  width: 1020px;
     font-size:70px;
     text-align:center;
     color:black;
     margin-top: 30px;
     font-weight: bold;

    }
.overlay{
  background-color:rgba(0, 0, 0, .3);
  width:100%;
  height: 100%;
  top:0px;
  bottom:0px;
  position:absolute;
}

section div{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color:red;
  font-weight: bold;
  font-size:50px;
  margin: 20px 10px;
}

section p{
  font-family: 'Ubuntu', sans-serif;
  font-style: oblique;
  font-size: 32px;
  color: black;
}
img{
  height:400px;
  width:35%;
  margin: 10px;
  }

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  width: 100%;
  display: flex; 
  height:70px;
  margin-top:12px;
  border:4px solid blue;
  margin-bottom:5px;
  background-color: lightgrey;
  color: black;
  align-items: center;
  justify-content:center ;
  font-size:25px;
}

@media(max-width:500px){
  nav a{font-size: 20px;}
}

@media(max-width:500px){
  img{width: 80%;}
}

@media(max-width:500px){
  .overlay{height: 113%;}
}





